<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CI/CD Pipeline</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>🚀 CI/CD Pipeline Successful</h1>
      <p>
        Your DevOps CI/CD pipeline using Jenkins & Docker is working perfectly.
      </p>

      <div class="info-box">
        <p><strong>Tools Used:</strong></p>
        <ul>
          <li>AWS EC2</li>
          <li>Jenkins (Declarative Pipeline)</li>
          <li>Docker & Docker Hub</li>
          <li>Python Flask</li>
        </ul>
      </div>

      <footer>
        <p>Deployed Automatically via Jenkins CI/CD</p>
      </footer>
    </div>
  </body>
</html>
